@model Insane_Mechanical.Models.Articulo

@{
    if (ViewBag.Nivel == "Admin")
    {
        Layout = "_LayoutAdmin2";
    }
}

<h2>Crear Entrada de Blog</h2>

@using (Html.BeginForm("AgregarArticulos", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="mb-3">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="mb-3">
            @Html.LabelFor(model => model.CategoriaId, "Categoría", htmlAttributes: new { @class = "form-label" })
            @Html.DropDownListFor(model => model.CategoriaId, (SelectList)ViewBag.Categorias, "Seleccione una categoría", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Seleccione con la que se identificara el articulo</label>
            <input name="Imagen" class="form-control" type="file" id="formFileMultiple" multiple>
        </div>

        <div class="mb-3">
            @Html.Label("content", "Contenido HTML", htmlAttributes: new { @class = "form-label" })
            <textarea id="editor" name="content" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
}

@section scripts {
    <script src="https://cdn.tiny.cloud/1/5ab1i4xrmwn6efoxae43gwozlhygiqtgchhe1qp46iadu4wm/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- Place the following <script> and <textarea> tags your HTML's <body> -->
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
}
